.coursePage {
  background-color: rgba(white, 0.6);
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  border-radius: 10px;
  padding-top: 50px;
  padding-bottom: 30px;

  &__description {
    margin-bottom: 30px;
  }

  &__video {
    width: 700px;
    height: 400px;
    margin: 0 auto 50px auto;
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  video[poster] {
    height: 100%;
    width: 100%;
    object-fit: fill;
  }

  &__rating {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 30px;
  }

  .accordion{
    margin-top: 30px;
  }

  .MuiPaper-root {
    border: 1px solid #faaf00;
    width: 75%;
    margin: 0 auto 16px auto;
  }

  .MuiButtonBase-root.MuiAccordionSummary-root.MuiAccordionSummary-gutters {
    background-color: rgba(#faaf00, 0.1);
  }

  .Mui-expanded {
    margin: 0 auto 16px auto !important;

    .coursePage__video{
      margin-bottom: 0;
    }
  }

  .MuiTypography-root {
    display: flex;
    gap: 20px;

    & span:first-child {
      font-weight: bold;
    }
  }
}

.MuiPagination-root {
  display: flex;
  justify-content: center;
}