*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  font-style: normal;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  display: inline-block;
}

.container {
  max-width: 1440px;
  padding: 50px 75px;
  margin: 0 auto;
}

.App {
  text-align: center;
  padding-top: 30px;
}

.linkToHome{
  width: 100%;
  margin-bottom: 30px;
  text-align: left;

  & a{
    padding: 5px 10px;
    background-color: #faaf00;
    border-radius: 10px;
    text-transform: uppercase;
    color: black;
    transition: .3s linear;

    &:hover{
      background-color: rgba(#faaf00, 0.6);
    }
  }
}
